// This package only contains the base HTML structure for the application.

package layouts

templ BaseTest() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>School API Test</title>
			<link rel="icon" type="image/x-icon" href="/public/favicon_io/favicon.ico"/>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/public/output.css">
			<script src="/public/js/htmx.min.js"></script>
			<script defer src="/public/js/alpine.min.js"></script>
		</head>
		<body class="bg-background font-geist-sans text-foreground antialiased">
			{ children... }
		</body>
	</html>
}
