// This package contains each page of the application.
package pages

import "rest-api-app/views/layouts"

templ Index() {
	@layouts.BaseTest() {
		<div class="p-5 font-bold text-center text-blue-500">Hello from the other side! It's work!</div>
	}
}